@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Party Invites</h1>
    <p>We're going to have an exciting party.</p>
    <p>(To do: sell it better. Add pictures or something.)</p>
    <p>@ViewBag.Greeting World (from the world)</p>
    <p><a asp-action="RsvpForm">RSVP Now</a></p>
</div>
