@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link asp-href-include="~/lib/bootstrap/**/*.min.css" asp-href-exclude="**/*-reboot*,**/*-grid*" rel="stylesheet" />
    <title>Error</title>
</head>
<body>
    <div class="text-center">
        <h2 class="text-danger">Error.</h2>
        <h3 class="text-danger">An error occurred while processing your request.</h3>
    </div>
</body>
</html>